@charset "UTF-8";
/* CSS Document */

#mainBody{
margin-left: 30px;
width: 1080px;
height:1200px;
background-color: #e4f9e4;
}


.hidden
{
	display: none;
}

#topBar
{
	background-color: #0a8c7c;
	height: 80px;
	color: #000000;
}

#topBar p
{
	height: 10px;
	color: #ffffff;
	font-size: 18px;
	padding-bottom: 15px;
}


#mainNav
{
	width: 2000px;
	height: 50px;
	margin-top:5px;
	margin-left: 100px;
}

#mainNav ul
{
	list-style-type: none;
	padding: 20px;
}

#mainNav ul li
{
	display: inline;
	font-size: 20px;
	margin-left: 20px;
}

#mainNav ul li a
{
	font-family: 'Indie Flower', cursive;
	color: #fbffca;
	padding: 15px;
	background-color: #6bb270;
	font-size: 20px;
}


#mainNav ul li a:hover{
	background: rgb(226,29,22);
	background: -moz-linear-gradient(top, rgba(226,29,22,1) 0%, rgba(170,8,3,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,29,22,1)), color-stop(100%,rgba(170,8,3,1)));
	background: -webkit-linear-gradient(top, rgba(226,29,22,1) 0%,rgba(170,8,3,1) 100%);
	background: -o-linear-gradient(top, rgba(226,29,22,1) 0%,rgba(170,8,3,1) 100%);
	background: -ms-linear-gradient(top, rgba(226,29,22,1) 0%,rgba(170,8,3,1) 100%);
	background: linear-gradient(to bottom, rgba(226,29,22,1) 0%,rgba(170,8,3,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ff766', endColorstr='#7ff766',GradientType=0 );
}

#body1
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
}


#RodBuilding p{
color: #0000;
display: row;
font-size: 15px;
font-family: 'Indie Flower', cursive;
	 
}

#RodBuilding{
	width: 400px;
	height: 500px;
	display: inline-block;
}

#RodBuilding img{
	width: 30%;
	height: auto;
	display: inline-block;
}



#text {
	float:left;
	border:1px   width:40%; 
	width: 630px;
	height:500px;

}
#text img{
	width: 100%;
	height: 66%;
}

#text p{
	font-size: 15px;
	font-family: 'Indie Flower', cursive;
}

#Businesses h2{
	margin-left: 90px;
	font-size: 40px;
}

#party{
	margin-top: 100px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 150px;
	font-family: 'Indie Flower', cursive;
}

#party img{

	width: 100%;
	height: auto;
	display: inline-block;
}
#party p{

	display: inline-block;
	font-size: 20px;
}
#party p1{
	margin-top: 20px;
	display: inline-block;
	font-size: 20px;
}
#Gear{
	margin-top: 100px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 150px;	
	font-family: 'Indie Flower', cursive;

}

#Gear img{

	width: 30%;
	height: auto;
	display: inline-block;
}
#Gear p{
	margin-top: 30px;
	display: inline-block;
	font-size: 20px
}
#Gear p1{
	margin-top: 30px;
	display: inline-block;
	font-size: 20px;

}

#line1{
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
}

#line1 p{
	margin-top: 20px;
	width: 400px;
	height: 100px;


}
#line1 img{
	width: 20%;
	margin-top: 20px;
}

#line2{
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
}

#line2 img{
	width: 20%;
	margin-top: 20px;
}
#line2 p{
	margin-top: 20px;
	width: 400px;
	height: 100px;
}

#icon5{
display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
}

#icon5 img{
	width: 10%;
	margin-top: 20px;
}
#icon5 p{
	margin-top: 20px;
	width: 1000px;
	height: 100px;
	font-size: 25px;
	margin-left: 20px;
}
#mainFooter{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 150px;
}

#exe p{
color: #0000;
display: row;
font-size: 20px;
font-family: 'Poiret One', cursive;
}

#exe h2{
color: green;
display: row;
font-size: 25px;
}

#exe{
	width: 480px;
	height: 220px;
	display: inline-block;

}
#cha h2{
color: green;
display: row;
font-size: 25px;
}

}
#cha p{
color: #0000;
display: row;
font-size: 20px;
font-family: 'Poiret One', cursive;
}

#cha{
	width: 480px;
	height: 220px;
	display: inline-block;

}


#About{
	width: 1070px;
	height: 300px;
	background-color: #c3e0e0;
	padding-left: 10px;
	margin-top: 50px;

}

#About p{
	color: #ddda50;
	font-size: 20px;
	font-family: 'Poiret One', cursive;
}
#word p{
	color: #7c7c31;
	font-size: 18px;
}

#More
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
}


#pic p{
color: #0000;
	 
}

#pic{
	background-color: white;
	width: 400px;
	height: 300px;
}




#text2 {
	float:left;
	border:1px   width:40%; 
	width: 630px;
	height:300px;
	background-color: white;

}
#FUNDRAISING
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 3px #9bbcbc;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 250px;
}

#part1 p{
color: #0000;
display: row;
font-size: 16px;
margin-top: 15px;
font-family: 'Poiret One', cursive;
}

#part1{
	width: 200px;
	height: 220px;
	display: inline-block;
	background-color: #9bbcbc;
}

#part1 img{
	width: 200px;
	height: 200px;
	display: inline-block;

}
#part2 p{
color: #0000;
display: row;
font-family: 'Poiret One', cursive;
	 
}

#part2{
	background-color: white;
	width: 200px;
	height: 220px;
	display: inline-block;
		background-color: #9bbcbc;
}

#part2 img{
	width: 200px;
	height: 200px;
	display: inline-block;

}#part3 p{
color: #0000;
display: row;
font-family: 'Poiret One', cursive;
	 
}

#part3{
	background-color: white;
	width: 200px;
	height: 220px;
	display: inline-block;
		background-color: #9bbcbc;
}

#part3 img{
	width: 200px;
	height: 200px;
	display: inline-block;

}
#part4 p{
color: #0000;
display: row;
font-size: 14px;
font-family: 'Poiret One', cursive;

	 
}

#part4{
	background-color: white;
	width: 200px;
	height: 220px;
	display: inline-block;
		background-color: #9bbcbc;
}

#part4 img{
	width: 200px;
	height: 200px;
	display: inline-block;

}
#part5 p{
color: #0000;
display: row;
font-size: 14px;
font-family: 'Poiret One', cursive;


	 
}

#part5{
	background-color: #9bbcbc;
	width: 200px;
	height: 220px;
	display: inline-block;


}

#part5 img{
	width: 200px;
	height: 200px;
	display: inline-block;


}

#intro p{
	padding-left: 200px;
	font-size: 25px;
	color: #56af56;
}
#projects{
	margin-top: 30px;
}

#projects h2{
	padding-left: 300px;
	font-size: 23px;
	color: #e8e83d;
	margin-top: 80px;
}
#projects p{
	font-size: 25px;
	color: #266052;
}
#program{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 3px #658e1c;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 500px;

}

#salmon p{
color: #1c638e;
display: row;
font-size: 20px;
}

#salmon{
	width: 430px;
	height: 220px;
	display: inline-block;
}

#salmon img{
	width: 100%;
	height: auto;
	display: inline-block;

}
#trout p{
color: #1c638e;
display: row;
font-size: 26px;
	 
}

#trout{
	width: 500px;
	height: 346px;
	display: inline-block;
}

#trout img{
	width: 90%;
	height: auto;
	display: inline-block;
}

#More
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 2px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 200px;
}

#about1 p{
color: #0000;
display: row;
width: 480px;
}

#about{
	width: 480px;
	height: 200px;
	display: inline-block;
}

#about1 img{
	width: 35%;
	height: auto;
	display: inline-block;

}
#about2 p{
	margin-top: 5px;
color: #0000;
display: row;
	 
}

#about2{
	width: 480px;
	height: 200px;
	display: inline-block;
}

#about2 img{
	width: 40%;
	height: auto;
	display: inline-block;
}

#past1 h2{
	margin-top: 56px;
	color: #6bad25;
	font-size: 25px;
	margin-left: 80px;
}
#past2{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-left: 10px;
	height: 150px;
}
#past2 p{
	margin-left: 10px;
	width: 480px;
	height: 150px;
	display: inline-block;
	font-size: 20px;
	color: #547c29;
}
#past2 p1{
	margin-left: 20px;
	width: 480px;
	height: 150px;
	display: inline-block;
	margin-top: 18px;
}
#past2 img{
	width: 30%;
	height: auto;
	display: inline-block;
}

#event1{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-left: 10px;
	height: 150px;
}
#event1 p{
	margin-top: 80px;
	margin-left: 10px;
	width: 200px;
	height: 300px;
	display: inline-block;
	font-size: 25px;
	color: #547c29;
}
#event1 p1{
	font-size: 20px;
	margin-left: 20px;
	width: 480px;
	height: 150px;
	display: inline-block;
	margin-top: 18px;
}
#event1 img{
	margin-top: 25px;
	width: 230px;
	height: 250px;
	display: inline-block;
}

#event2{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-left: 10px;
	height: 150px;
}
#event2 p{
	margin-top: 100px;
	margin-left: 10px;
	width: 200px;
	height: 300px;
	display: inline-block;
	font-size: 25px;
	color: #8a9318;
}
#event2 p1{
	font-size: 20px;
	margin-left: 20px;
	width: 480px;
	height: 150px;
	display: inline-block;
	margin-top: 120px;
	color: #5f604f;
}
#event2 img{
	margin-right: 60px;
	margin-top: -30px;
	width: 230px;
	height: 250px;
	display: inline-block;
}

#event3{
	margin-top: 80px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-left: 8px;
	height: 200px;
	border-bottom: solid 2px #000;
}
#event3 img{
	margin-right: 20px;
	margin-top: 0px;
	width: 180px;
	height: 180px;
	display: inline-block;
}

#moreevent h2{

	margin-top: 160px;
	color: #e06c44;
	font-size: 30px;
	margin-left: 250px;
}

#event4{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-left: 8px;
	height: 310px;
	border-bottom: solid 2px grey;
}
#event4 img{
	margin-right: 20px;
	margin-top: 0px;
	width: 330px;
	height: 300px;
	display: inline-block;
}

#event42{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-left: 8px;
	height: 310px;
	border-bottom: solid 2px grey;
}
#event42 img{
	margin-right: 20px;
	margin-top: 0px;
	width: 330px;
	height: 300px;
	display: inline-block;
}
#event10{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-left: 8px;
	height: 280px;
	border-bottom: solid 2px yellow;
}
#event10 img{
	margin-right: 20px;
	margin-top: 0px;
	width: 195px;
	height: 270px;
	display: inline-block;
}

#event20{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-left: 8px;
	height: 280px;
	border-bottom: solid 2px grey;
}
#event20 img{
	margin-right: 20px;
	margin-top: 0px;
	width: 480px;
	height: 270px;
	display: inline-block;
}

#event21{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-left: 8px;
	height: 280px;
	border-bottom: solid 2px green;
}
#event21 img{
	margin-right: 20px;
	margin-top: 0px;
	width: 300px;
	height: 270px;
	display: inline-block;
}

#paragraph{
	margin-top: 50px;
	display: flex;
	flex-direction: inline;
  	justify-content: space-between;
	padding-left: 8px;
	height: 200px;
	border-bottom: solid 2px green;
}

#paragraph p{
	margin-top: 30px;
	margin-left: 10px;
	width: 1080px;
	height: 300px;
	display: table-row;
	font-size: 20px;
	color: #8a9318;
}
#event2 p1{
	font-size: 15px;
	margin-left: 20px;
	width: 1080px;
	height: 150px;
	display: table-row;
	margin-top: 120px;
	color: #5f604f;
}

#ending{
	margin-top: 50px;
	margin-left: 10px;
	height: 310px;
	border-bottom: solid 3px blue;
}

#ending img{
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	width: 1020px;
	height: 280px;
	display: inline-block;
}
#link1 h2{
	margin-top: 80px;
	margin-left: 460px;
	font-size: 30px;
	color: green;
}
#linkpic{
	margin-top: 40px;
	display: flex;
	border-bottom: solid 3px #658e1c;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 310px;
}

#linkpic img{
	width: 1060px;
	margin-left: 0px;
	height: 300px;
}
#link2 p{
	margin-left: 20px;

	font-size: 20px;
	color: #517251;
}

#link3 h2{
	margin-top: 80px;
	margin-left:230px;
	font-size: 30px;
	color: green;
	font-family: 'Poiret One', cursive;
}
#linkpic1{
	margin-top: 40px;
	display: flex;
	border-bottom: solid 3px #658e1c;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 410px;
}

#linkpic1 img{
	width: 1060px;
	margin-left: 0px;
	height: 400px;
}

#link4 p{
	margin-left: 20px;

	font-size: 31px;
	color: #b2aa1f;
}

#link5 h2{
	margin-top: 86px;
	margin-left:360px;
	font-size: 30px;
	color: green;
}

#linkpic2{
	margin-top: 40px;
	display: flex;
	border-bottom: solid 3px #658e1c;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 410px;
}

#linkpic2 img{
	width: 1060px;
	margin-left: 0px;
	height: 400px;
}

#link6 p{
	margin-left: 20px;

	font-size: 25px;
	color: #085e08;
}

#link7 h2{
	margin-top: 80px;
	margin-left: 460px;
	font-size: 30px;
	color: green;
}
#linkpic3{
	margin-top: 40px;
	display: flex;
	border-bottom: solid 3px #658e1c;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 410px;
}

#linkpic3 img{
	width: 1060px;
	margin-left: 0px;
	height: 400px;
}

#note p{
	margin-left: 20px;

	font-size: 36px;
	color: #085e08;
}

#note p1{
	margin-left: 20px;

	font-size: 28px;
	color: #bec61a;
}

#new h2{
	margin-top: 80px;
	margin-left: 400px;
	font-size: 30px;
	color: grey;
}
#newpic{
	margin-top: 40px;
	border-bottom: solid 3px grey;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 450px;
}

#newpic img{
	width: 1060px;
	margin-left: 0px;
	height: 400px;
}
#newpic h3{
	width: 1060px;
	margin-left: 10px;
	font-size: 25px;
	margin-left: 26px;
	color: #567a69;
}

#date{
	margin-top: 30px;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 700px;
}

#date img{

	width: 1060px;
	height: 390px ;
	display: inline-block;
}
#date p{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 20px;
	color: #0c7244;
}

#date2{
	margin-top: 30px;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-right: 10px;
	height: 700px;
}

#date2 img{

	width: 1060px;
	height: 390px ;
	display: inline-block;
}
#date2 p{
	margin-right: 10px;
	margin-top: 10px;
	font-size: 20px;
	color: #ddcf24;
}

#chart1 {
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

#chart1 

input, textarea
{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	width: 400px;
	height: 10px;
	background-color: #fff;
	border: 2px solid #999;
	font-size: 10px;
}
#chart1 img{
	margin-left: 30px
	width: 550px;
	margin-top: 10px;
	height: 400px;
	padding-left: 60px;
}

#map
{
	margin-top: 20px;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 430px;
}

#map p{
color: #189b75;
display: row;
font-size: 25px;
margin-left: 438px;
}


#map img{
	width: 600px;
	height: 300px;
	margin-left: 260px;

}

#map p1{
color: #385615;
display: row;
font-size: 17px;
}

#social{
	margin-top: 100px;
	display: flex;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 10px;
	height: 250px;
}

#social img{

	width: 80px;
	height: 80px;
	display: table-row;
}
#social p{
	margin-top: 30px;
	display: table-row;
	font-size: 20px
}

#talk{
	width: 1080px;
	height: 360px;
	margin-top: 20px;
	margin-left: 10px;

}

#talk img{
	width: 1060px;
	height: 300px;
}